In [5]:
import datetime
from pandas_datareader import data
from bokeh.plotting import figure, show, output_file

start = datetime.datetime(2016,3,1)
end = datetime.datetime(2016,3,10)

df = data.DataReader(name="GOOG", data_source="google", start=start, end=end)
df

              Open    High     Low   Close   Volume
Date
2016-03-01  703.62  718.81  699.77  718.81  2147442
2016-03-02  719.00  720.00  712.00  718.85  1627753
2016-03-03  718.68  719.45  706.02  712.42  1956761
2016-03-04  714.99  716.49  706.02  710.89  1967873
2016-03-07  706.90  708.09  686.90  695.16  2985094
2016-03-08  688.59  703.79  685.34  693.97  2063357
2016-03-09  698.47  705.68  694.00  705.24  1418704
2016-03-10  708.12  716.44  703.36  712.82  2829412

In [7]:
p = figure(x_axis_type="datetime", width=1000, height=300)
# p.title = "Candlestick Chart"
hours_12 = 12*60*60*1000
p.rect(df.index[df.Close > df.Open], (df.Open + df.Close)/2, hours_12, abs(df.Open - df.Close))
output_file("CS.html")
show(p)

c:\program files\python36\lib\site-packages\bokeh\models\sources.py:91: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 4), ('y', 8)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
c:\program files\python36\lib\site-packages\bokeh\models\sources.py:91: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 8), ('x', 4), ('y', 8)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))