In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [4]:
import pandas

In [13]:
df1 = pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df1.shape

(6, 7)

In [15]:
df2 = pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [20]:
df3 = pandas.read_excel("supermarkets.xlsx", sheetname=0)
df3.set_index("ID")

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df4 = pandas.read_csv('supermarkets-commas.txt')
df4.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df5 = pandas.read_csv('supermarkets-semi-colons.txt', sep=";")
df5.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [24]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df7 = df7.set_index("Address")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [25]:
df7.set_index?

In [26]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [28]:
df7.loc["332 Hill St", "Country"]

'USA'

In [30]:
df7.loc["735 Dolores St", :]

City         San Francisco
Country                USA
Employees               15
ID                       2
Name           Bready Shop
State             CA 94119
Name: 735 Dolores St, dtype: object

In [31]:
df7.iloc[1:3,1:3]

               Country  Employees
Address
735 Dolores St     USA         15
332 Hill St        USA         25

In [34]:
df7.ix[1:3,"Name"]

Address
735 Dolores St    Bready Shop
332 Hill St       Super River
Name: Name, dtype: object

In [35]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [36]:
df7.drop("City", 1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [37]:
df7.drop("332 Hill St", 0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [38]:
df7.drop(df7.index[0:3],0)

                          City Country  Employees  ID        Name       State
Address
3995 23rd St     San Francisco     USA         10   4  Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [40]:
df7.drop(df7.columns[0:3],1)

                 ID         Name             State
Address
3666 21st St      1      Madeira          CA 94114
735 Dolores St    2  Bready Shop          CA 94119
332 Hill St       3  Super River  California 94114
3995 23rd St      4   Ben's Shop          CA 94114
1056 Sanchez St   5      Sanchez        California
551 Alvarado St   6   Richvalley          CA 94114

In [41]:
len(df7.index)

6

In [43]:
df7.shape[0]

6

In [44]:
df7["Continent"] = ["North America"]*df7.shape[0]

In [45]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [48]:
df7["Continent"] = df7["Country"] + "," + " North America"

In [49]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [50]:
df7_t = df7.T

In [51]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [56]:
df7_t["3666 21st St"] =["My City", "My Country", 10, 7, "My Shop", "My State", "My Continent"]

In [57]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
City,My City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My City
Country,My Country,USA,USA,USA,USA,USA,My Country
Employees,10,15,25,10,12,20,10
ID,7,2,3,4,5,6,7
Name,My Shop,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My Shop
State,My State,CA 94119,California 94114,CA 94114,California,CA 94114,My State
Continent,My Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America",My Continent

In [58]:
df7 = df7_t.T

In [59]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,My City,My Country,10,7,My Shop,My State,My Continent
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"
My Address,My City,My Country,10,7,My Shop,My State,My Continent